.root {
  justify-content: center;
  align-items: center;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  box-sizing: border-box;
}

.container {
  flex-grow: 0;
  width: 350px;
  /* max-width: 50%; */
  /* flex-basis: 50%; */
  margin-top: 50px;
  box-sizing: border-box;
}

.field {
  flex-grow: 0;
  /* max-width: 50%; */
  /* flex-basis: 50%; */
  /* padding-left: 10px; */
}